<p class="well">Signed in as <strong><%= @current_user.username %></strong></p><span><%= link "List All Players", to: player_path(@conn, :index), class: "btn btn-info" %></span><span><%= link "Sign Out", to: player_session_path(@conn, :delete, @current_user), method: "delete", class: "btn btn-danger" %></span>